@model DBlog.Core.Entities.Post

<div id="commentscontainer" class="hidden-print">
    @foreach (var comment in Model.Comments)
    {
                 <!-- Comment -->
        <div class="media">
            @*<a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>*@
            <div class="media-body">
                <h4 class="media-heading">
                    @comment.Author
                    <small>@comment.Email</small>
                    <small>@comment.CommentDate</small>
                </h4>
                @comment.Content
            </div>
        </div>
    }
</div>
     
