@model HomeIndexModel

<ul class="pager">
    @Html.Pager(Model.Posts as PagedList<PostDescriptionModel>, new PagerOptions
{
    PrevPageText = "上一页",
    NextPageText = "下一页",
     PageIndexParameterName = "pageIndex",
    },
            "", new { tag = Model.Tag,cat=Model.Category, search = Model.Search});
    @*<li class="previous">
        <a href="#">&larr; Older</a>
    </li>
    <li class="next">
        <a href="#">Newer &rarr;</a>
    </li>*@
</ul>