@model DBlog.Core.Entities.Post
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <!-- Blog Post -->
            <!-- Title -->
            <h1>@Model.Title</h1>
            <!-- Author -->
            <p class="lead">
                by <a href="#">@Model.Author</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on @Model.CreateDate.ToShortTimeString()</p>
            <hr>
            <!-- Preview Image -->
            @*<img class="img-responsive" src="" alt="">*@
            <hr>
            <!-- Post Content -->
            <p class="lead">
                @Model.Content
            </p>
            <hr>
            <!-- Blog Comments -->
            <!-- Comments Form -->
            <div class="well">
                <h4>留言:</h4>
                @using (Html.BeginForm("Post", "Home", new { slug=@Model.Slug }, FormMethod.Post))
                {

                    Html.RenderPartial("_CommentsFormControl", new DBlog.Core.Entities.Comment());
                }                                   
            </div>
            <hr>
            <!-- Posted Comments -->
            @{Html.RenderPartial("_CommentsControl", this.Model);}             
        </div>
       
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input name="search" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
            }

            <!-- Blog Categories Well -->
 @*
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
*@

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Tags</h4>
                <div id="tags" style="width: 550px; height: 350px;"></div>
            </div>
        </div>
        </div>  
    <!-- /.row -->

@section Scripts {
    <script src="~/Scripts/jqcloud/jqcloud-1.0.4.min.js"></script>
    <link href="~/Scripts/jqcloud/jqcloud.css" rel="stylesheet" />
    <script src="~/Scripts/home.js"></script>
    <link href="~/Content/blog-post.css" rel="stylesheet" />
}



